 @import "../../../../static/plugin_framework/framework";

.plugin_slider_frame{
    /*background-color:@chalk;*/
    width:100%;
    height:100%;
}

.plugin_slider_navlink         {position:absolute;
                                top:50%;
                                width:@baseLineHeight * 2;
                                height:@baseLineHeight * 2;
                                line-height: @baseLineHeight * 2;
                                display:block;
                                background-color: @sol_charcoal;
                               color:#fff;
                                opacity:0.6;
                                /*.icon-only;*/
                                font-size:@baseFontSize * 1.5;
                                padding:0 @baseLineHeight;
                                /*.inset-text;*/
                                .transition();
    &:hover                    {.transition();}
    }

.plugin_slider_prevlink        {left:-@baseLineHeight;
                                .plugin_slider_navlink;
                                /*.icon-back;*/
                                text-align: right;
                                .border-radius(0, @baseFontSize, @baseFontSize, 0);
    &:hover                    {left:0;}
    }
.plugin_slider_nextlink        {right:-@baseLineHeight;
                                .plugin_slider_navlink;
                                .icon-next;
                                text-align: left;
                                .border-radius(@baseFontSize, 0, 0, @baseFontSize);
    &:hover                    {right:0;}
    }


div.plugin_slider_slidemenu    {display:block;
                                position:absolute;
                                bottom:-500px + @baseLineHeight;
                                left:50%;
                                margin-left: -250px;
                                width:500px;
                                height:500px;
                                max-height:500px;
                                background-color:fadeout(@sol_charcoal, 10%);
                                font-size:@baseFontSize;
                                /*color:@chalk;*/
                                .border-radius(@baseFontSize, @baseFontSize, 0, 0);
                                .transition();
                                z-index:99;
    &:hover,
    &.initial_state            {bottom:0; .transition();}

    h4                         {display:block;
                                text-align: center;
                                .blockletter-small();
                                margin-top:0;}
    a                          {color: @sol_grey4;
        &:hover                {color:@white;
                                .text-shadow();}
        &.plugin_slider_new    {.label_new();}
        /*&.plugin_slider_active {color: @chalk;}*/
        }
    ul                         {padding:0 @baseLineHeight;
                                overflow:auto;
                                height:500px - (@baseLineHeight * 2);
        li                     {
            span               {color:@sol_yellow;
                                padding:0 0 0 @baseFontSize;
                                font-style: italic;}
            }
        }
    }



#slideframe {
    height:100%;
}

body #page div.plugin_slider_slide{
    /*background-color: @chalk;*/
    .Greek;
    width:100%;
    height:100%;
    padding-top:0;
    padding-left:@baseLineHeight * 2 * 2;
    padding-right:@baseLineHeight * 2 * 2;
    padding-bottom: @baseLineHeight * 2;
    z-index:99;

    h1 {
        display:block;
        font-size: @baseFontSize * 1.5;
        color:@sol_orange;
        margin:0 auto;
        text-align: center;
        font-style: normal;
        .blockletter;
    }

    ul                                 {font-family:Ubuntu, Calibri;
                                        list-style-type:disc;
                                        list-style-position: outside;
                                        font-size:@baseFontSize * 1.5;
                                        color:@dusky-blue2;
                                        line-height:@baseLineHeight * 1.5;
                                        margin:0;

        ul                             {font-size:@baseFontSize * 1.25;
                                        color: darken(@sol_beige, 35%);
                                        padding-left:@baseLineHeight;
                                        /*.collapsible_parent();*/
            ul                         {color: @sol_orange;
                                        // .collapsible_child();
                                        }
            }
        }

    ol                                 {font-family:Ubuntu, Calibri;
                                        font-size:1.5em;
                                        color:#268bd2;
                                        line-height:2em;
                                        margin:0;}

    table                              {background-color: transparent;
                                        border-collapse: separate;
                                        border-spacing: 0;
                                        text-align: center;
                                        color: @cinnamon;
                                        .Greek;
                                        font-size: @baseFontSize * 1.5;
                                        margin: (@baseFontSize/2) auto;
        tr                             {
            td                         {background-color: @sol_beige;
                                        padding: (@baseFontSize/2) @baseFontSize}
            &.even                     {
                td                     {background-color: darken(@sol_beige, 2%)}
                }
            }

        &.dark_col_2                   {
            tr                         {
                td:nth-child(2)        {background-color: darken(@sol_beige, 10%);
                                        color: @white;}
                &.even                 {
                    td:nth-child(2)    {background-color: darken(@sol_beige, 12%)}
                    }
                }
            }

        &.dark_col_1                   {
            tr                         {
                td:first-child         {background-color: darken(@sol_beige, 10%);
                                        color: @white;}
                &.even                 {
                    td:first-child     {background-color: darken(@sol_beige, 12%)}
                    }
                }
            }

        &.header_dark                  {
            thead                      {
                td                     {background-color: darken(@sol_beige, 10%);
                                        color: @white;}
                }
            }

        &.header_col1_dark             {}

        .clause_diagram_greek         {
            td                         {background-color: transparent;
                                        overflow: visible;
                                        .inset-text;
                &:first-child          {background-color: @sol_grey4;
                                        color: @white;}
                &:nth-child(3)         {background-color: @ocp_yellow;}
                &:nth-child(5)         {background-color: @sol_grey4;
                                        color: @white;}
                }
            }

        &.clause_diagram_subjectlast   {.clause_diagram_greek;
            td:nth-child(5)            {background-color: @ocp_yellow;}
            }

        &.subject_predicate_table      {
            tr:first-child             {
                td                     {background-color: transparent;
                                        .inset-text;
                    &:first-child      {background-color: @sol_blue;
                                        color: @white;}
                    &:nth-child(3)     {background-color: @sol_grey4;
                                        color: @white;}
                    }
                }
            }

        &.nominative_bg_table,
        &.nominative_plur_bg_table      {position: absolute;
                                        left: 50%;
                                        margin-left: -(@baseLineHeight * 15);
                                        top: @baseLineHeight * 2 * 2;
                                        width: @baseLineHeight * 30;
                                        background-color: transparent;
                                        color: @white;
                                        z-index: 1;
                                        border:1px transparent solid;
                                        border-collapse: collapse;
                                        .inset-text();

            tr                         {background-color: lighten(@sol_blue, 30%);
                                        border-top: @baseLineHeight transparent solid;
                                        border-bottom: @baseLineHeight transparent solid;
                                        height:@baseLineHeight * 3;

                td                     {background-color: transparent;
                                        padding:0px;
                                        vertical-align: middle;
                                        height:@baseLineHeight * 4;
                    &:first-child,
                    &:last-child       {max-width:0px;}
                    }
                &:nth-child(even)      {background-color: transparent;
                                        height:@baseLineHeight;
                    td                 {height: @baseLineHeight;
                                        max-height: @baseLineHeight;}
                    }
                &:nth-child(3)         {background-color: lighten(@sol_blue, 40%);}
                }
            }
        &.genitive_bg_table,             
        &.genitive_plur_bg_table       {.nominative_bg_table;
            tr                         {background-color: fade(@sol_green, 30%);
                &:nth-child(3)         {background-color: fade(@sol_green, 40%);}
                }
            }

        &.accusative_bg_table,             
        &.accusative_plur_bg_table     {.nominative_bg_table;
            tr                         {background-color: fade(@sol_orange, 30%);
                &:nth-child(3)         {background-color: fade(@sol_orange, 40%);}
                }
            }

        &.nominative_fg_table,
        &.nominative_plur_fg_table      {z-index: 10;
                                        position: absolute;
                                        top:@baseLineHeight * 2 * 2;
                                        left: 50%;
                                        margin-left: -(@baseLineHeight * 15);
                                        background-color: transparent;
                                        border:0px solid transparent;
                                        color: @white;
                                        font-size: @baseFontSize * 2;
                                        width: @baseLineHeight * 30;
                                        border-spacing: 0px;
                                        .inset-text();

            tr                         {background-color: transparent;
                td                     {height: @baseLineHeight * 2 * 2;
                                        padding: 0px;
                                        width: @baseLineHeight * 2 * 3;
                                        background-color: transparent;
                                        vertical-align: middle;
                    &:nth-child(even)  {background-color: darken(@sol_blue, 10%);}
                    &:nth-child(3)     {width: @baseLineHeight * 2 * 3;}
                    }
                &:nth-child(2)         {
                    td:nth-child(2)    {background-color: @sol_blue;}
                    }
                }
            }
        &.genitive_fg_table,
        &.genitive_plur_fg_table        {.nominative_fg_table;
            tr                         {
                td:nth-child(even)     {background-color: darken(@sol_green, 10%);}
                &:nth-child(2) td:nth-child(2)
                                       {background-color: @sol_green;}
                }
        }

        &.accusative_fg_table,
        &.accusative_plur_fg_table     {.nominative_fg_table;
            tr                         {
                td:nth-child(even)     {background-color: darken(@sol_orange, 10%);}
                &:nth-child(2) td:nth-child(2)
                                       {background-color: @sol_orange;}
                }
        }



        &.letter_table                 {padding:@baseFontSize;
                                        text-align:center;
                                        margin:@baseFontSize auto;

            thead                      {font-size:4em;
                                        line-height:1.25em;
                td                     {padding: @baseFontSize .5em;
                                        color: @cinnamon;
                    &:first-child,
                    &:last-child       {display:none;}
                    }
                }

            tbody                      {font-size:1.5em;
                                        border-top:1px solid #fff;
                td                     {background-color: darken(@sol_beige, 10%);
                                        color:@white;
                                        .text-shadow();
                    &:first-child,
                    &:last-child       {display:none;}
                    }
                }
            }
        }
    }

    .subject_div                   {
        &:after                    {.line(2px, 100px, @sol_grey3, 45deg, 50%, 0)}
        }
