@baseLineHeight: 21px;
@baseFontSize: 16px;
@fontSizeMini: 10px;
@fontSizeSmall: 12px;
@sansFontFamily: "Fira Sans", Arial, sans-serif;
@serifFontFamily: "SBLGreekRegular", serif;

@ocp_yellow: yellow;
@cinnamon: brown;
@palletteBG: #efefef;
@pallette1: #eee;
@pallette2: #aaa;
@sol_grey4: #666;
@sol_beige: #efefef;
@sol_orange: orange;
@sol_blue: blue;
@sol_charcoal: #666;
@sol_grey3: #888;
@black: #000;
@white: #fff;
@accent2: red;

@nominative: #17a1c4;
@genitive: #568C2B;
@accusative:#9D2114;
@dative: #8C4599;
@verbs: #FFD919;

.plugin_slider_frame{
    width:100%;
    max-height:100%;
    position: relative;
}

.plugin_slider_navlink         {position:absolute;
                                top:200px;
                                width: @baseLineHeight ;
                                height: @baseLineHeight * 2;
                                line-height: @baseLineHeight * 2;
                                display:block;
                                background-color: @black;
                                color: @white;
                                opacity:0.6;
                                font-size:@baseFontSize;
                                padding:0 @baseLineHeight;
                                transition: 200ms all ease-in-out;
    &:hover                    {
                                transition: 200ms all ease-in-out;
                                }
}

.plugin_slider_prevlink        {left:-@baseLineHeight;
                                .plugin_slider_navlink;
                                /*.icon-back;*/
                                text-align: right;
                                z-index: 999;
    &:hover                    {left:0;}
}
.plugin_slider_nextlink        {right:-@baseLineHeight;
                                .plugin_slider_navlink;
                                /*.icon-next;*/
                                text-align: left;
                                z-index: 999;
    &:hover                    {right:0;}
}

div.plugin_slider_slidemenu    {display:block;
                                position:absolute;
                                top: (-400px + (@baseLineHeight * 1.8));
                                left:50%;
                                margin-left: -250px;
                                width:500px;
                                height:400px;
                                max-height:400px;
                                background-color:@pallette2;  //fadeout(@sol_charcoal, 10%);
                                font-size:@baseFontSize;
                                color:@palletteBG;
                                transition: 200ms all linear;
                                z-index:99;
    &:hover,
    &.initial_state            {top:0;
                                transition: 200ms all ease-in-out;
    }

    h4                         {display:block;
                                text-align: center;
                                color: @white;
                                font-size: @baseFontSize;
    }
    a                          {color: @sol_grey4;
        &:hover                {color:@white;
                                //.text-shadow();
        }
        &.plugin_slider_new    {
                                /*.label-success();*/
        }
        /*&.plugin_slider_active {color: @chalk;}*/
    }
    .plugin_slider_decklist_wrapper {overflow:auto;
                                     height:362px;
        ul                         {padding:0 (@baseLineHeight / 2) 0 @baseLineHeight;
                                    font-family: @sansFontFamily;
            li                     { //.clearfix();
                span               {}
                .badge             {margin-left:(@baseLineHeight / 6);
                                    font-family:@sansFontFamily;
                                    font-size:@fontSizeMini;
                                    background-color:darken(@accent2, 10%);
                }
                ul                 {overflow:visible; 
                                    font-family:@serifFontFamily;
                                    font-size:@fontSizeSmall;
                                    color: darken(@pallette2, 40%);
                                    list-style-type:none;
                                    padding-left:0;
                                    margin-left:0;
                    li             {border-left: 2px solid transparent;
                                    padding-left: (@baseLineHeight / 4);
                        &:hover    {border-left: 2px solid darken(@pallette2, 20%);
                        }
                        a          {color: darken(@pallette2, 40%);
                        }
                    }
                }
            }
        }
    }
}

#slideframe {
    height:100%;
}

body.slides div.plugin_slider_slide{
    font-family: @serifFontFamily;
    width:100%;
    height:100%;
    z-index:99;
    padding-bottom: (@baseLineHeight * 2);
    padding-top: (@baseLineHeight * 2);

    h1 {
        display:block;
        font-size: @baseFontSize * 1.5;
        color:@sol_orange;
        margin:0 auto;
        text-align: center;
        font-style: normal;
        test-transform: uppercase;
    }
    ul                                 {//font-family:Ubuntu, Calibri, sans-serif;
                                        color: darken(@accent2, 10%);
                                        margin:0;
                                        padding-right: 0;
                                        padding-left: (@baseLineHeight * 4);
                                        list-style-type: disc;
        li                             {font-size:@baseFontSize * 1.25;
                                        line-height:@baseLineHeight * 1.25;
        } 
        &.pagination                   {padding-left: 0;
        }
        ul                             {padding-left:@baseLineHeight;
                                        padding-bottom: 0;
            li                         {font-size:@baseFontSize;
                                        line-height: @baseLineHeight;
                                        color: darken(@pallette2, 20%);
            }
            ul                         {
                li                     {color: lighten(@sol_orange, 10%);}
            }
        }
    }
    ol                                 {font-family:Ubuntu, Calibri;
                                        font-size:1.5em;
                                        color:#268bd2;
                                        line-height:2em;
                                        margin:0;
    }
    img                                {margin: 0 auto;
                                        display: block;
                                        max-width: 400px;
        &.pull-right                   {margin-right: @baseLineHeight * 2;}
        &.pull-left                    {margin-left: @baseLineHeight * 2;}
    }
    table                              {background-color: transparent;
                                        border-collapse: separate;
                                        border-spacing: 0;
                                        text-align: center;
                                        color: @cinnamon;
                                        font-family: @serifFontFamily;
                                        font-size: @baseFontSize * 1.5;
                                        margin: (@baseFontSize/2) auto;
        tr                             {
            td                         {background-color: @sol_beige;
                                        padding: (@baseFontSize/2) @baseFontSize
            }
            &.even                     {
                td                     {background-color: darken(@sol_beige, 2%)}
            }
        }
        &.dark_col_2                   {
            tr                         {
                td:nth-child(2)        {background-color: darken(@sol_beige, 10%);
                                        color: @white;
                }
                &.even                 {
                    td:nth-child(2)    {background-color: darken(@sol_beige, 12%)}
                }
            }
        }
        &.dark_col_1                   {
            tr                         {
                td:first-child         {background-color: darken(@sol_beige, 10%);
                                        color: @white;
                }
                &.even                 {
                    td:first-child     {background-color: darken(@sol_beige, 12%)}
                }
            }
        }
        &.header_dark                  {
            thead                      {
                td                     {background-color: darken(@sol_beige, 10%);
                                        color: @white;
                }
            }
        }
        &.header_col1_dark             {
        }
        &.letter_table                 {padding:@baseFontSize;
                                        text-align:center;
                                        margin:@baseFontSize auto;
            thead tr                   {font-size:4em;
                                        line-height:1.25em;
                td                     {padding: @baseFontSize .5em;
                                        color: @cinnamon;
                                        background-color: @pallette1;
                                        text-align:center;
                    &:first-child,
                    &:last-child       {display:none;}
                }
            }
            tbody tr                   {font-size:1.5em;
                                        border-top:1px solid #fff;
                td                     {background-color: @pallette2;
                                        color:@white;
                                        text-align:center;
                    &:first-child,
                    &:last-child       {display:none;}
                }
            }
        }
        &.nominative                   {}
        &.genitive                     {}
        &.accusative                   {}
        &.dative                       {}
        &.verbs                        {}
    }
}

.clause_diagram_greek         {
    td                         {background-color: transparent;
                                overflow: visible;
        &:first-child          {background-color: @sol_grey4;
                                color: @white;}
        &:nth-child(3)         {background-color: @ocp_yellow;}
        &:nth-child(5)         {background-color: @sol_grey4;
                                color: @white;}
    }
}
.clause_diagram_subjectlast   {.clause_diagram_greek;
    td:nth-child(5)            {background-color: @ocp_yellow;}
}
.subject_predicate_table      {
    tr:first-child             {
        td                     {background-color: transparent;
            &:first-child      {background-color: @sol_blue;
                                color: @white;}
            &:nth-child(3)     {background-color: @sol_grey4;
                                color: @white;}
        }
    }
}

/*.subject_div                   {*/
    /*&:after                    {.line(2px, 100px, @sol_grey3, 45deg, 50%, 0)}*/
/*}*/
